<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZipSafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ZipSafe.Properties.Settings>
            <setting name="BackupFolder" serializeAs="String">
                <value>C:\Backup</value>
            </setting>
            <setting name="Schedules" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedulesCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupTimerValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CopyFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupBackupEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MachineName" serializeAs="String">
                <value>ZipSafe</value>
            </setting>
            <setting name="LastImagePath" serializeAs="String">
                <value />
            </setting>
        </ZipSafe.Properties.Settings>
    </userSettings>
</configuration>